{% extends 'accounts/main.html'%}
{% block body %}

<!--Cusotmer info -->
<div class="row" style="margin-top: 35px;"> 
    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
            <h4>Customer</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-outline-success btn-block btn-sm" style="color:black" type="button">Update Customer</button>
                <button class="btn btn-outline-danger btn-block btn-sm" style="color:black" type="button">Delete Customer</button>
            </div>
        </div>      
    </div>

    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
            <h4>Custoemr info</h4>
            </div>
            <div class="card-body">
                <p>Email: {{context.customer.email}}</p>
                <p>Phone: {{context.customer.phone}}</p>

            </div>
        </div>     
    </div>

    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                    <h4>Total Orders</h4>
            </div>
            <div class="card-body">
                <h1 style="text-align: center;">{{ context.order.count }}</h1>
                
                <!-- {{context.customer.date_created}}-->
            </div>
        </div>
    </div> 

</div>
<br>

<!-- search --> 
<div class="row" style="background-color: aqua; padding: 5px;">
    <div class="col-12">
        <button class="btn btn-primary">Search</button>
    </div>
</div>
<br><br>
<!-- end of search -->

<div class="row">
<div class="col-12" style="">
    <h2 style="text-align: center;"></h2>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Date Order</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        {% for orders in context.order %}
        <tr>
            <td>{{orders.product.name}}</td>
            <td>{{orders.date_created}}</td>
            <td>{{orders.status}}</td>
            <td>update</td>
            <td>remove</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}