{% extends 'accounts/main.html'%}
{% load crispy_forms_tags %}



{% block body %}

<!--Total Order, Total Deliver, Total pending-->
<div class="row" style="margin-top: 25px;"> 
    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
            <h4>Total Order</h4>
            </div>
            <div class="card-body">
                <h1 style="text-align: center;">{{order.count }}</h1>
                
            </div>

        </div>
        
    </div>
    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
            <h4>Order Delivered</h4>
            </div>
            <div class="card-body">
                
            <h1 style="text-align: center;">{{deliverd_order }}</h1>

            </div>

        </div>
        
    </div>
    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                    <h4>Order Pending</h4>
            </div>
            <div class="card-body">
            <h1 style="text-align: center;">{{pending_order }}</h1>
                

            </div>

        </div>
        
    </div>
    

</div> 
<!-- end of Total Order, Total Deliver, Total pending-->
<br><br>

<!-- Customer create, Order create-->
<div class="row">  
    <div class=" col-md-4" style="">
        <h2 style="text-align: center;">Customers</h2><hr>
        <button class="btn btn-success btn-block btn-sm" data-toggle="modal" data-target="#pModal">Create Customer</button>

        <div class="modal" id="pModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title text-danger">create customer</h4>
                    </div>

                    <form method="POST" class="form">
                    <div class="modal-body form-group">
                        {% csrf_token %}
                        {{ cusotmerForm | crispy }}<br>
                        <button type="submit" class="btn btn-success">create customer</button>
                    </div>
                    </form>
                </div>    
            </div>
        </div>    


        <table class="table">
            <tr>
                <th>Customer</th>
                <th>Phone</th>
            </tr>
            {% for customers in customer %}
            <tr>
                <td><a href="{%url 'accounts:customer' customers.id %}">{{customers.name}}</a></td>
                <td>{{customers.phone}}</td>
            </tr>
            
            {% endfor %}
        </table>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



    <div class="col-md-7" style="">
        <h2 style="text-align: center;">Last 5 Order</h2><hr>
        
       
        <table class="table">
            
            <tr>
                <th>Product</th>
                <th>Date Order</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {%for new_orders in last_5_orders%}
            <tr>
                <td>{{new_orders.product.name}}</td>
                <td>{{new_orders.date_created}}</td>
                <td>{{new_orders.status}}</td>
                <td><a href="{% url 'accounts:UpdateOrder' pk=new_orders.id %}">Update</a></td>
                <td><a href="{% url 'accounts:DeleteOrder' pk=new_orders.id %}">Remove</a></td>
            </tr>
            {% endfor%}
        </table>
    </div>

</div> 
<!--end of Customer create, Order create-->


{% endblock body %}