{% extends 'accounts/main.html'%}
{% load crispy_forms_tags %}
{% block body %}
<div class="container" style="text-align: center;">
    <h1>Update Order</h1><br> <hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">user</label>
          {{customer_form.user}}
        </div>
        <div class="form-group">Name</label>
          {{customer_form.name}}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          {{customer_form.email}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            {{customer_form.phone}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Profile picture</label>
            {{customer_form.profile_pic}}
        </div>
       
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      

</div>
{% endblock body%}