{% extends 'accounts/main.html'%}
{%block body%}
<div class="row" style="margin-top: 25px;"> 
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center;">
            <h4>Products</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Catagory</th>
                        <th>Price</th>

                    </tr>

                </table>
            </div>

        </div>
        
    </div>
    </div>
{% endblock body%}